.siteName{
    text-align: center;
    color: #282c34;
}

.container{
    display: flex;
}

.homeInfo{
    flex: 0 1 70%;
    font-size: large;
    font-weight: bold;
    // background-color: aqua;
}

.prices{
    flex: 0 1 30%;
    // background-color: rgb(71, 142, 118);
}